@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    color: #ffffff;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #0e5958;
}

h1 {
    font-size: 5.4rem;
    margin-bottom: 50px;
}

h2 {
    font-size: 3.4rem;
    margin-bottom: 50px;
}

.flex-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-item {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    text-decoration-line: none;
    font-size: 2.5rem;
    text-align: center;
    padding: 10px 50px;
    background-color: #1d1733;
    border: 2px solid #000;
    border-radius: 5px;
    margin: 5px;
}

.button:hover{
    cursor: pointer;
    transform: scale(1.05);
}

/* Tela de Fim de Jogo */

.flex-item-end-game{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
}

.flex-form{
    display: flex;
    flex-direction: column;
}

input {
    margin: 0px 5px;
    padding: 5px;
    font-size: 1.6rem;
    color: #000
}

.btn-end-game{
    font-size: 1.6rem;
}

/* Tela de Placar */

.flex-item-ranking{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}