@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    color: #ffffff;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #0e5958;
}

h1 {
    font-size: 5.4rem;
    margin-bottom: 50px;
}

h2 {
    font-size: 3.4rem;
    margin-bottom: 50px;
}

.flex-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-item {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    text-decoration-line: none;
    font-size: 2.5rem;
    text-align: center;
    padding: 10px 50px;
    background-color: #1d1733;
    border: 2px solid #000;
    border-radius: 5px;
    margin: 5px;
}

.button:hover{
    cursor: pointer;
    transform: scale(1.05);
}

/* Tela do Jogo */

.flex-container-game {
    width: 100vw;
    height: 100vh;
    display: flex;
    padding: 5px;
}

.wrap { 
    /* -webkit-flex-wrap: wrap; */
    flex-wrap: wrap;
} 

.flex-item-game {
    background: #1d1733;
    padding: 5px;
    width: 100px;
    height: 100px;
    margin: 5px 5px;
    border-radius: 10px;
    color: white;
    font-size: 2em;
    text-align: center;
}

.questions {
    width: 70vw;
    height: 35vh;
    flex-grow: 3;
}

.answers {
    order: 1;
    width: 70vw;
    height: 60vh;
    flex-grow: 3;
}

#tempo-gasto {
    width: 25vw;
    height: 35vh;
    flex-grow: 1;
}

#options {
    order: 2;
    width: 25vw;
    height: 60vh;
    flex-grow: 1;
}


.text{ 
    text-decoration: none;
    text-align: start;
    font-size: 1.6rem;
    padding: 10px;
}

.flex-container-alternative{
    display: flex;
    align-items: baseline;
}

.flex-container-alternative:first-child{
    margin-top: 20px;
}


.flex-container-alternative:hover {
    cursor: pointer;
    transform: scale(1.03);
}

#answer{
    width: 100%;
    border: 2px solid #000;
    background-color: #b4fec9;
    color: #000;
    border-radius: 10px;
    margin:1px 10px;
}

.letter {
    width: 50px;
    height: 50%;
    border-radius: 50%;
    background-color: #000;
    text-align: center;
    padding: 7px;
    margin-left: 10px;
}

.letter:first-child{
    margin-top: 15px;
}

.flex-container-options{
    width: 100%;
    height: 58vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.button-end {
    font-size: 1.4rem;
    background-color: #b4fec9;
    border: 2px solid #000;
    border-radius: 10px;
    color: #000000;
    text-decoration-line: none;
    text-align: center;
    padding: 5px 10px;
}

.button-end:hover{
    cursor: pointer;
    transform: scale(1.05);
}


/* Tela de Fim de Jogo */

.flex-item-end-game{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
}

.flex-form{
    display: flex;
    flex-direction: column;
}

input {
    margin: 0px 5px;
    padding: 5px;
    font-size: 1.6rem;
    color: #000
}

.btn-end-game{
    font-size: 1.6rem;
}

/* Tela de Placar */

.flex-item-ranking{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}