.flex-container-game {
    width: 100vw;
    height: 100vh;
    display: flex;
    padding: 5px;
    background-image: url(../img/unknown.png);
}

.wrap { 
    /* -webkit-flex-wrap: wrap; */
    flex-wrap: wrap;
} 

.flex-item-game {
    background: radial-gradient(circle, rgba(121,9,9,1) 35%, rgba(36,0,0,1) 100%, rgba(255,8,0,1) 100%);
    padding: 5px;
    width: 100px;
    height: 100px;
    margin: 5px 5px;
    border-radius: 10px;
    color: white;
    font-size: 2em;
    text-align: center;
}

.questions {
    width: 70vw;
    height: 35vh;
    flex-grow: 3;
}

.answers {
    order: 1;
    width: 70vw;
    height: 60vh;
    flex-grow: 3;
    display: grid;
    /* background: none; */
}

#time {
    width: 25vw;
    height: 35vh;
    flex-grow: 1;
    /* background: none; */
}

#options {
    order: 2;
    width: 25vw;
    height: 60vh;
    flex-grow: 1;
}


.text{ 
    text-decoration: none;
    text-align: start;
    font-size: 1.6rem;
    padding: 10px;
}

.flex-container-alternative{
    display: flex;
    align-items: baseline;
    align-self: center;
}

.flex-container-alternative:first-child{
    margin-top: 20px;
}


.flex-container-alternative:hover {
    cursor: pointer;
    transform: scale(1.02);
}

#question {
    font-size: 1.4em;
}

.answer{
    width: 100%;
    border: 2px solid #000;
    background-color: gold;
    color: #000;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 10px;
    margin:1px 10px;
}

.letter {
    width: 50px;
    height: 50%;
    border-radius: 50%;
    background-color: #000;
    text-align: center;
    padding: 7px;
    margin-left: 10px;
}

.letter:first-child{
    margin-top: 15px;
}

.flex-container-options{
    width: 100%;
    height: 58vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.button-end {
    font-size: 1.4rem;
    background-color: #b4fec9;
    border: 2px solid #000;
    border-radius: 10px;
    color: #000000;
    text-decoration-line: none;
    text-align: center;
    padding: 5px 10px;
}

.button-end:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.answer-selected {
    background-color: #a93345;
}

.answer-correct {
    background-color: gold;
}